@keyframes orcRun {
  100% {
    background-position: -100%;
  }
}
#orc {
  width: 320px;
  height: 320px;
  background-image: url('/orc.png');
  animation: orcRun 0.5s steps(3, end) infinite;
  background-size: cover;
}
@media screen and (max-width: 1200px) {
  #orc {
    width: 160px;
    height: 160px;
  }
}
