.button {
  display: block;
  padding: 0.5rem 1rem;
  box-shadow: 5px 5px 0 rgba(0, 0, 0, 1);
  border-radius: 0;
  border: none;
  cursor: pointer;
  background-color: var(--snow-storm-dark);

  &:hover {
    background-color: var(--snow-storm-light);
  }
  &:active {
    box-shadow: none;
    position: relative;
    top: 5px;
    left: 5px;
  }
}
