.minesweeperCell {
  width: 1.5rem;
  height: 1.5rem;
  background-color: var(--polar-night-dark);
  border-radius: 0.25rem;
  cursor: pointer;
  transition: all 0.1s linear;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.3);

  &::before {
    content: '';
    position: absolute;
    display: block;
    background-color: var(--polar-night-light);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  &.show::before {
    opacity: 0;
  }
  &.bug {
    background-color: var(--aurora-red);
    color: var(--snow-storm-light);
    padding: 0.125rem;
  }
  .proximity1 {
    color: var(--frost-light-blue);
  }
  .proximity2 {
    color: var(--aurora-green);
  }
  .proximity3 {
    color: var(--aurora-red);
  }
  .proximity4 {
    color: var(--aurora-purple);
  }
  .proximity5 {
    color: var(--aurora-yellow);
  }
  .proximity6 {
    color: var(--frost-green);
  }
  .proximity7,
  .proximity8 {
    color: var(--aurora-orange);
  }
  .flag {
    color: var(--aurora-red);
    position: absolute;
    padding: 0.125rem;
    z-index: 1;
  }
  &:hover {
    transform: scale(1.1);
  }
}
