.minesweeperCell {
  width: 1.5rem;
  height: 1.5rem;
  background-color: var(--snow-storm-dark);
  border-radius: 0.25rem;
  cursor: pointer;

  &.show {
    background-color: var(--polar-night-darker);
  }
}
