.scoreRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  width: 100%;
  background-color: var(--polar-night-dark);
  box-shadow: var(--block-shadow);
  color: var(--snow-storm-light);
  font-size: 1.75rem;

  .scoreRow__rank {
    width: 3rem;
  }
  .scoreRow__username {
    max-width: 15rem;
    flex-grow: 1;
  }
  .scoreRow__score {
    flex-grow: 1;
  }
}
