.games {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  .games__title {
    color: var(--snow-storm-dark);
    text-shadow: 5px 5px 0 rgba(0, 0, 0, 1);
    font-size: 3rem;
  }
}
