.homePage {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  .homePage__title {
    display: flex;
    align-items: center;
    padding-bottom: 2rem;
  }

  h1 {
    font-size: 7rem;
    line-height: 7rem;
    text-align: center;
    color: var(--aurora-yellow);
    text-shadow: var(--block-shadow);
    text-transform: uppercase;

    span {
      color: var(--aurora-red);
    }
  }
}
@media screen and (max-width: 1200px) {
  .homePage {
    h1 {
      font-size: 4rem;
      line-height: 4rem;
    }
  }
}
