.modal-overlay {
  position: fixed;
  left: 0px;
  top: 0px;
  display: flex;
  min-height: 100%;
  min-width: 100%;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(3px) grayscale(1);
  z-index: 4;

  .modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.25rem;
    background-color: var(--aurora-yellow);
    padding: 2rem 3rem;
    color: var(--polar-night-darker);
    box-shadow: var(--block-shadow);
  }
}
