#scoreSubmit {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  #username {
    text-transform: uppercase;
    border: none;
    padding: 0.5rem 1rem;
    box-shadow: var(--block-shadow);
    outline: none;
  }
}
