@keyframes loading {
  0% {
    width: 0%;
  }
  25% {
    width: 10%;
  }
  50% {
    width: 60%;
  }
  75% {
    width: 75%;
  }
  100% {
    width: 100%;
  }
}
.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  gap: 1rem;
  min-height: 300px;
  height: 100%;
  color: var(--snow-storm-dark);

  .loader {
    width: 100%;
    height: 2rem;
    border: 4px solid var(--snow-storm-dark);
    box-sizing: border-box;
    box-shadow: var(--block-shadow);
    background-color: var(--polar-night-mid);

    .loader__bar {
      animation: loading 2s ease-out infinite;
      background-color: var(--snow-storm-dark);
      height: 100%;
    }
  }
}
