@import url('https://fonts.googleapis.com/css2?family=Jersey+25&display=swap');
:root {
  --polar-night-darker: #2e3440;
  --polar-night-dark: #3b4252;
  --polar-night-mid: #434c5e;
  --polar-night-light: #4c566a;
  --snow-storm-dark: #d8dee9;
  --snow-storm-mid: #e5e9f0;
  --snow-storm-light: #eceff4;
  --frost-green: #8fbcbb;
  --frost-light-blue: #88c0d0;
  --frost-pale-blue: #81a1c1;
  --frost-dark-blue: #5e81ac;
  --aurora-red: #bf616a;
  --aurora-orange: #d08770;
  --aurora-yellow: #ebcb8b;
  --aurora-green: #a3be8c;
  --aurora-purple: #b48ead;
  --block-shadow: 5px 5px 0 rgba(0, 0, 0, 1);
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
