@import url('https://fonts.googleapis.com/css2?family=Jersey+25&display=swap');
:root {
  --polar-night-darker: #2e3440;
  --polar-night-dark: #3b4252;
  --polar-night-mid: #434c5e;
  --polar-night-light: #4c566a;
  --snow-storm-dark: #d8dee9;
  --snow-storm-mid: #e5e9f0;
  --snow-storm-light: #eceff4;
  --frost-green: #8fbcbb;
  --frost-light-blue: #88c0d0;
  --frost-pale-blue: #81a1c1;
  --frost-dark-blue: #5e81ac;
  --aurora-red: #bf616a;
  --aurora-orange: #d08770;
  --aurora-yellow: #ebcb8b;
  --aurora-green: #a3be8c;
  --aurora-purple: #b48ead;
}
