.scoreList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  gap: 1rem;
  background-color: var(--snow-storm-dark);
  padding: 2rem;
  box-shadow: var(--block-shadow);
}
